SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_KEY=your-service-role-key
GOOGLE_PLACES_API_KEY=AIzaSyCEaBezpNmjbcmgQ20VHl3U7Tg0QtlMc2c

WHATSAPP_TOKEN=EAANZB3wcIkUoBRkFBYS7FgEdXCYyPeYn6ysQHKRFCr1B9FZAQDgDvG62MgFrnHI6QXRIZCBxwiMD8DgyyncConBBXoEkexqZB4YzlnjVmGGE2KYj7t6UdrpCklDtoS8tTqUaREKHZBT1fZAVbxBVGg2RXKxpACgLRHfc7Bj3HSDIZCzlEGWyn7nuwDFZCkwoM7DKMMNX9QX2wGU1ZAcWvcfDb3QmQ9V9rGjf0YyWx1ZChYXhYL0WXEcSHF9RoymtsDL6un1tTCfbY0ewbWoZBJlzRcUVf8ZD

WHATSAPP_PHONE_NUMBER_ID=1058833533990691
WHATSAPP_VERIFY_TOKEN=your-verify-token

1316277976668489
PORT=3001
